#polyglots_widget .morelink {
	text-align: center;
}




.plugins .active th, .plugins .inactive th, .plugins .active td, .plugins .inactive td {
	box-shadow: none;
}

.plugins .plugin-polyglots-info td {
	padding: 0;
}

.plugins .plugin-polyglots-info.with-shadow td {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}

.plugins .plugin-polyglots-info .update-message {
	font-size: 13px;
	font-weight: normal;
	margin: 6px 12px 12px;
	padding: 6px 12px;
	margin: 0 10px 8px 31px;
	background-color: #f7f7f7;
	background-color: rgba(0,0,0,0.03);
}

.plugins .plugin-polyglots-info .update-message p:last-child {
	margin-bottom: 0;
}